<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>251811891137-l2ea94p75fpdvgo289j1q92esfvb5v1m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.251811891137-l2ea94p75fpdvgo289j1q92esfvb5v1m</string>
	<key>API_KEY</key>
	<string>AIzaSyC3aidBEYQiLhyGiT-WbKThtH2dH5qFjTs</string>
	<key>GCM_SENDER_ID</key>
	<string>251811891137</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kaleo.chat.app</string>
	<key>PROJECT_ID</key>
	<string>upmax-original-a3q4l5</string>
	<key>STORAGE_BUCKET</key>
	<string>upmax-original-a3q4l5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:251811891137:ios:d5557dc65fe99a49d49140</string>
	<key>DATABASE_URL</key>
	<string>https://upmax-original-a3q4l5-default-rtdb.firebaseio.com</string>
</dict>
</plist>